/* Tema Claro */
:root {
  --bg: #ffffff;
  --text: #111111;
  --card: #f1f1f1;
}

/* Tema Escuro */
.dark {
  --bg: #111111;
  --text: #eeeeee;
  --card: #333333;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  background: var(--card);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

nav a {
  margin: 0 12px;
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
}

h1, h2, h3 {
  color: var(--text);
}

.hero {
  text-align: center;
  padding: 40px;
}

.hero img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 20px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
}

.cards {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.card {
  background: var(--card);
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  width: 250px;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

footer {
  background: var(--card);
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

iframe {
  border: none;
  border-radius: 10px;
}

#themeToggle {
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  background: var(--text);
  color: var(--bg);
  font-size: 18px;
}
